:root {
  --light-color: #ebebeb;
  --dark-color: #343B4D;
  --error-color: red;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--dark-color);
}

.fundo-escuro {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.fundo-claro {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.layout {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
}

.cabecalho {
  padding: 20px inherit 20px inherit;
  display: flex;
  justify-content: space-between;
}

.cabecalho h1 a {
  font-size: 64px;
  text-decoration: none;
  color: var(--light-color);
}

.cabecalho h1 {
  transition: all 200ms;
}

.cabecalho h1:hover {
  transform: scale(1.05);
}

.cabecalho div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cabecalho div a {
  color: var(--light-color);
  text-decoration: none;
}

.cabecalho div a:hover {
  text-decoration: underline;
}

.conteudo {
  padding: 20px 0;
  /* 100vh - altura do header - altura do footer */
  min-height: calc(100vh - 84px - 60px);
}

.rodape {
  text-align: center;
  font-size: 20px;
  padding: 20px 0;
}

.rodape a {
  color: var(--light-color);
}

.button {
  padding: 5px 40px;
  font-size: 16px;
  font-weight: bold;
  color: var(--light-color);
  background-color: var(--dark-color);
  border: none;
  transition: all 100ms;
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
}

.button:hover {
  text-decoration: none;
  color: var(--dark-color);
  background-color: var(--light-color);
  outline: 1px solid var(--dark-color);
}

.form {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  gap: 10px;
}

.form-input {
  background-color: var(--light-color);
  outline: none;
  border: 1px solid var(--dark-color);
  border-radius: 4px;
  padding: 10px;
  font-size: inherit;
  font-family: Arial, Helvetica, sans-serif;
}

.form-button {
  font-size: inherit;
  padding: 20px;
}

.form-field-error {
  border: 2px solid var(--error-color);
}

.errorlist {
  color: var(--error-color);
  margin-bottom: 10px;
}

.titulo {
  text-align: center;
  margin: 20px 0 50px 0;
  font-size: 28px;
}
