{% extends 'base.html' %}

{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'todolist/assets/css/home.css' %}">
{% endblock css %}

{% block content %}
  {% for todoitem in object_list %}
    <article class="todoitem">
      <h2>
        <a href="{% url 'todolist:detail' pk=todoitem.pk %}">{{ todoitem.title }}</a>
      </h2>
      <div>
        <a href="{% url 'todolist:update' pk=todoitem.pk %}" class="button">Editar</a>
        <a href="{% url 'todolist:delete' pk=todoitem.pk %}" class="button">Apagar</a>
      </div>
    </article>
  {% endfor %}
{% endblock content %}