{% extends 'base.html' %}

{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'todolist/assets/css/todoitem_detail.css' %}">
{% endblock css %}

{% block title %} - Detalhes{% endblock title %}

{% block content %}
  <article class="todoitem-detail">
    <section>
      <a href="{% url 'todolist:update' pk=todoitem.pk %}?next={% url 'todolist:detail' pk=todoitem.pk %}" class="button">Editar</a>
      <a href="{% url 'todolist:delete' pk=todoitem.pk %}" class="button">Apagar</a>
    </section>
    
    <header>
      <h2 class="titulo">
        {{ object.title }}
      </h2>
    </header>
    <main>
      
      <p>{{ object.text }}</p>
    </main>
  </article>
{% endblock content %}
