{% extends 'base_form.html' %}

{% load widget_tweaks %}

{% block title %} - Login{% endblock title %}

{% block content_title %}Login{% endblock content_title %}

{% block fields %}
  {% render_field form.username class='form-input' placeholder='Nome de usuário' %}
  {% render_field form.password class='form-input' placeholder='Senha' %}
{% endblock fields %}

{% block button_text %}Login{% endblock button_text %}

{% block text_after_button %}
  Não possui conta? <a href="{% url 'accounts:register' %}">Registre-se</a>
{% endblock text_after_button %}
